$maxWidth: 1920px;
$maxWidthContainer: 1300;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

.pageIntro {
    background-image: url(../img/aboutUs/bg.jpg);
    background-repeat: no-repeat;
    // .pageIntro__container
    &__container {
    }
    // .pageIntro__title
    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 80px 0;
        @media (max-width: $md3+px) {
            font-size: 40px;
        }
        @media (max-width: $md4+px) {
            font-size: 26px;
        }
    }
    &__navigation{
        margin-bottom: 60px;
        margin-top: 20px;
    }
}