//<ПЕРЕМЕННЫЕ>=======================================================
$maxWidth: 1920px;
$maxWidthContainer: 1300;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


.header-page {
    position: relative;
    background-color: #fff;
    &__container{
        padding: 0 20px;
        @media (max-width: $md3+px) {
            padding: 0 12px;
        }
    }
    // .header-page__menu
    &__menu {
        position: relative;
        margin-top: 20px;
        display: flex;
        align-items: center;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        @media (max-width: 1300px) {
            justify-content: space-between;
        }
    }
    
    // .header-page__logo
    &__logo {
        display: flex;
        align-items: center;
        margin-right: 55px;
        & a {
            margin-left: 15px;
            font-size: 24px;
            color: #0F206C;
            font-weight: 600;
            @media (max-width: 1015px) {
                
            }
            @media (max-width: $md3+px) {
                display: block;
                color: #0F206C;
            }
            @media (max-width: 350px) {
                font-size: 18px;
            }
        }
        & span{
            color: #43C5FF;
        }
        @media (max-width: 1300px) {
            margin-right: 30px;
        }
        @media (max-width: 1015px) {
            margin-right: 0;
        }
    }
    
    // .header-page__body
    &__body {
        justify-content: center;
        align-items: center;
        @media (max-width: $md3+px) {
            display: none;
        }

        &-mobile{
            display: none;
            &.active{
                left: 0;
            }
            @media (max-width: $md3+px) {
                display: block;
                position: fixed;
                z-index: 4;
                top: 110px;
                left: -100%;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.9);
                transition: left .3s ease;
            }
        }
    }
    // .header-page__phone
    &__phone {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #202020;
        margin-right: 30px;
        background-image: url(../img/intro/header/01.svg);
        background-repeat: no-repeat;
        padding-left: 25px;
        @media (max-width: 1100px) {
            display: none;
        }
    }
    // .header-page__mail
    &__mail {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #202020;
        margin-right: 80px;
        background-image: url(../img/intro/header/02.svg);
        background-repeat: no-repeat;
        padding-left: 25px;
        & div{
            margin-right: 25px;
            @media (max-width: 1330px) {
                margin-right: 10px;
            }
        }
        @media (max-width: 1300px) {
            margin-right: 30px;
            display: none;
        }
    }
    // .header-page__link
    &__link {
        position: relative;
        &.activeTab:after{
            content: '';
            height: 3px;
            width: 100%;
            background: #409EFF;
            display: block;
            position: absolute;
            top: 290%;
            left: 0;
        }
    }
}
.container {
}
.menu-page {
    // .menu-page__link
    &__link {
        position: relative;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #0F206C;
        &-lang{
            background-image: url(../img/intro/header/lang.svg);
            background-repeat: no-repeat;
            padding-left: 25px;
            margin-left: 20px;
        }

        &-main {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #0F206C;
            background-image: url(../img/intro/header/arrow.svg);
            background-position: right center;
            background-repeat: no-repeat;
            padding-right: 25px;
            
        }
    }
}

.category{
    & .menu__sublist{
        left: -5%;
    }
}

.menu {
    
    // .menu__link-drop
    &__link-drop {
    }
    // .menu__sublist
    &__sublist {
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease, visibility .3s ease;
        position: absolute;
        top: 100%;
        background: #fff;
        padding: 15px;
        min-width: 150px;
        border-radius: 5px;
        &-first{
            left: -10%;
        }
        & li {
            padding: 8px 0;
        }
        &.active{
            opacity: 1;
            visibility: visible;
        }
    }
    // .menu__sublink
    &__sublink {
        color: #43C5FF;
       position: relative;
    }
    // .menu__link
    &__link {
    }
    // .menu__link-lang
    &__link-lang {
    }
}

.intro-page{
    padding-top: 75px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    background-image: url(../img/listing/intro/bg.jpg);
    @media (max-width: $md3+px) {
        padding-top: 30px;
        padding-bottom: 0;
    }
}
.intro-page__title{
    margin-bottom: 75px;
}

//filters

.filters {
    margin-bottom: 80px;
    // .filters__container
    &__container {
        background: #fff;
    }
    &__name-container{
       
    }
    // .filters__name
    &__name {
        margin-left: 20px;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
        background-image: url(../img/listing/filters/01.svg);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 20px;
        & span{
            color: #D9D9D9;
            margin-right: 5px;
        }
        @media (max-width: $md4+px) {
            margin-left: 0;
        }
    }
    &__checkbox{
        margin-right: 15px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        padding: 0px 20px;
        height: 50px;
        @media (max-width: 1150px) {
            flex: 0 0 48%;
        }
        @media (max-width: $md3+px) {
            flex: 0 0 265px;
        }
        &:not(:last-child) {
            border: 1px solid #F0F0F0;
            @media (max-width: 1150px) {
                margin-bottom: 20px;
                margin-right: 2%;
            }
            @media (max-width: $md3+px) {
                margin-right: 0;
            }
        }
        & div{
            @media (max-width: $md3+px) {
                display: flex;
            }
        }
    }
    // .filters__items
    &__items {
        background: #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        @media (max-width: 1150px) {
            flex-wrap: wrap;
        }
    }
     // .filters__title
    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding: 5px 0;
    }
    // .filters__sort
    &__sort {
        display: flex;
        align-items: center;
       
    }
    // .filters__location
    &__location {
        display: flex;
       
    }
    // .filters__parking
    &__parking {
        display: flex;
        align-items: center;
       
    }
    // .filters__page
    &__page {
        display: flex;
        align-items: center;
        &-nums{
            background: #fff;
            border: 1px solid #F0F0F0;
            border-radius: 5px;
            padding: 10px;
            background-image: url(../img/listing/filters/arrow.svg);
            background-repeat: no-repeat;
            background-position: 30px center;
            padding-right: 20px;
            margin-left: 20px;
            @media (max-width: $md3+px) {
                margin-left: 125px;

            }
            & span {
                margin-right: 5px;
            }
        }
    }
}
.sort{
    &__img {
        margin-left: 130px;
    }
}
.location {
    &__title{
        border-right: 1px solid #f0f0f0;
        padding-right: 50px;
    }
    // .location__img
    &__img {
        padding-left: 15px;
    }
}
.page{
    &__title{
        
    }
}
.parking {
    &__title{
        border-right: 1px solid #f0f0f0;
        padding-right: 80px;
    }
    // .parking__img
    &__img {
        padding-left: 15px;
        border-left: 1px solid #F0F0F0;
    }
    
}

//apartaments
.apartments{
    &__items{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background: #fff;
        @media (max-width: 1300px) {
            justify-content: space-around;
        }
    }
    &__item{
       flex: 0 0 416px;
        background: #F5F5F5;
        margin-bottom: 24px;
        &:nth-child(n + 13) {
            display: none;
        }
        @media (max-width: $md3+px) {
            flex: 0 0 300px;
        }
    }
    &__item.visible{
        display: block;
    }

}


//=============pagination===============
.apartments {
    padding: 0 20px;
    background: #fff;
    // .apartments__hidden
    &__hidden {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 80px;
        & span{
            font-weight: 600;
        }
    }
    // .apartments__button
    &__button{
        text-align: center;
    }
    &__button button {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 219%;
        text-transform: uppercase;
        color: #409EFF;
        border: 1px solid #409EFF;
        background: #fff;
        border-radius: 50px;
        padding: 12px 145px;
        transition: background-color .3s ease ;
        &:hover{
            background: #409EFF;
            border: 1px solid #409EFF;
            color: #fff;
        }
        @media (max-width: $md3+px) {
        padding: 0;
        width: 100%;
        height: 60px;
        }
    }
    // .apartments__pagination
    &__pagination {
        
    }
}
.pagination {
    margin-bottom: 60px;
    &__pages {
        display: flex;
        justify-content: center;
    }
    // .pagination__arrow
    &__arrow {
        height: 40px;
        width: 40px;
        padding: 5px;
        border-radius: 50%;
        border: 2px solid #fff;
        color: #000;
    }
    // .pagination__page
    &__page {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #0F206C;
        height: 44px;
        width: 44px;
        border: 1px solid #fff;
        border-radius: 50%;
        &:not(:last-child){
            margin-right: 20px;
        }
        &:hover{
            border: 1px solid #409EFF;
            color: #409EFF;
        }
    }
}

//============tabSection===========
.tabSection__build{
    padding-top: 50px;
    background: #f5f5f5;
}
.listing__accordSection{
   margin-bottom: 60px;
}